@page
@model BugNet.Pages.Index

<h1>Welcome to Bugnet</h1>

<p>Undone items: @Model.UnDoneCount</p>

<a asp-page="./Create" class="btn btn-success">Create</a>
@if (TempData["Message"] is not null)
{
    <div class="alert-success">
        @TempData["Message"]
    </div>
}
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>IsDone</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var bug in Model.Bugs!)
        {
            <tr>
                <td>@bug.Id</td>
                <td>@bug.Name</td>  
                <td>@bug.Description</td>
                <td>@bug.IsDone</td>
                <td>
                    <a asp-page="./EditModel" asp-route-id="@bug.Id" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@bug.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>